h1{
color: white;
text-align: center;
font-size: 50px;
font-weight: 800;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
color:white;
text-align: left;
font-size: 24px;
font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
    color:white
}
ul{
    color:white
}

img {
    
    padding: 5px;
    width: 200px;
    align-items: center;
}
.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
body{
    background: url(img/blueSpace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{ color:white;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
